.container-conocernos h2{
    display: flex;
    justify-content: center;
    color: #F26D6D;
    margin-top: 40px;
    font-size: x-large;
    font-size: 30px;
    margin-bottom: 4px;
}

.container-conocernos p{
    width: 50%;
    margin: auto;
    font-size: 14px;
    text-align: center;
    color: rgb(167, 167, 167);
}

.container-formulario{
    margin: 60px;
}

.three-inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.three-inputs input{
    width: 30%;
}

.container-asunto input{
    margin-bottom: 10px;
}

.container-asunto input{
    width: 65%;
}

.container-formulario textarea{
    width: 100%;
    margin-bottom: 10px;
}

.container-formulario button{
    width: 20%;
    height: 50px;
    border-radius: 20px;
    background-color: #F26D6D;
    border: 0; 
    /* margin: 30px 0; */
    color: white;
    font-weight: bolder;
    font-size: 15px;

}


