.navigation{
    /* display: inline-flex; */
    padding: 30px;
    background-color: #7e84f5;
    
}

.container-navigator{
    display: flex;
    justify-content: space-around;    
    flex-wrap: wrap;
   
}

.link-navigator{
    text-decoration: none;
    cursor: pointer;
    font-size:larger;
    font-weight: bolder;  
    color: white;  
    width: 15%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}


@media (max-width: 650px){

    .link-navigator{

        font-size:15px;   
    }

}

